/* Fontes e Reset Básico */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #0F4357;
    background-color: #f5f5f5;
    line-height: 1.6;
    text-align: center;
}

b {
    color:#8888E7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Header */
.header {
    height: 100vh;
    display: flex; /* Adicione esta linha */
    align-items: center;
    color: #0F4357;
    background-color: #ffffff;
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2rem;
    color: #5f6368;
    margin-bottom: 30px;
}



/* Classe para aplicar o degradê ao texto */
.text-gradient {
    background: linear-gradient(90deg, #8888E7, #64C2CE); /* Ajuste as cores do degradê */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 700; /* Peso para destacar o texto */
}


.btn-primary {
    background-color: #E8A01A; /* Azul intenso */
    color: #fff;
    padding: 15px 30px;
    border: none;
    display: inline-block;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #8888E7;
}

/* Seção de Problemas Comuns */
.problemas {
    background-color: #64C2CE;
    padding: 60px 20px;
}

.problemas h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 30px;
    color: #22646D;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    max-width: 80px;
}

.card h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card p {
}

/* Seção de Benefícios */
.beneficios {
    align-items: center;
    background-color: #ffffff;
    padding: 60px 20px;
}

.beneficios h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0F4357;
}

.beneficios ul {
    list-style: none;
    padding: 0;
}

.beneficios li {
    font-size: 1.1rem;
    text-align: left;
    margin: 10px 0;
    color: #5f6368;
}

.beneficios2 {
    align-items: center;
    background: linear-gradient(90deg, #8888E7, #64C2CE);
    padding: 60px 20px;
}

.beneficios2 b {
    color: white;
}

.beneficios2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0F4357;
}

.beneficios2 p {
    color: white;
    font-size: 1.1rem;
    text-align: left;
}

.beneficios2 ul {
    list-style:disc;
    padding: 0;
}

.beneficios2 li {
    font-size: 1.1rem;
    text-align: left;
    margin: 10px 0;
    color: white;
}

/* Formulário de Contato */
.formulario {
    background-color: #ffffff;
    padding: 10px 20px;
}

.formulario h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0F4357;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.formulario input,
.formulario textarea {
    padding: 15px;
    border: 1px solid #ddd;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
}

.formulario button {
    border-radius: 5px;
}

/* Footer */
.footer {
    background-color: #f9f9f9;
    color: #C0C0C0;
    padding: 20px 0;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .header h1, header p{
        text-align: left; /* Alinhamento à esquerda em telas menores */
    }
    .header h1 {
        line-height: 1.2; /* Ajuste a linha de altura conforme necessário */
    }
    .problemas {
        padding: 20px 0px;
    }
    .card {
        width: 100%; /* O card preencherá toda a largura */
        max-width: none; /* Remove o limite de largura máxima */
    }
}